.introduce{
    width: 200vmin;
    height: 5vmin;
    position: relative;
    top: 10px;
    left: 600px;
    font-family: 'Noto Sans TC', sans-serif;
}

.holder2048 {
    width: 280px;
    height: 380px;
    position: relative;
    margin: 0 auto;
    }

.holder2048>.container {
    width: 280px;
    height: 280px;
    position: relative;
    margin: 0 auto;
    border-style: none;
    border: 3px solid #BBADA0;
    background-color: #CCC0B3;
    box-shadow: 0 0 20px rgba(255, 145, 0, 0.5);
}

.holder2048>.container>.mask {
    width: 70px;
    height: 70px;
    position: absolute;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #BBADA0;
}

.holder2048>.container>.box {
    width: 66px;
    height: 66px;
    background-color: Black;
    position: absolute;
    color: #776E65;
    font-size: x-large;
    font-weight: bolder;
    font-family: Arial;
    text-align: center;
    line-height: 70px;
}

.holder2048>.container>.box[value='2'] {
    background-color: #fff8d7
}

.holder2048>.container>.box[value='4'] {
    background-color: #F1c900
}

.holder2048>.container>.box[value='8'] {
    background-color: #FFBB77
}

.holder2048>.container>.box[value='16'] {
    background-color: #FF8000
}

.holder2048>.container>.box[value='32'] {
    background-color: #FF5809
}

.holder2048>.container>.box[value='64'] {
    background-color: #EA0000
}

.holder2048>.container>.box[value='128'] {
    background-color: #FFFF37
}

.holder2048>.container>.box[value='256'] {
    background-color: #F9F900
}

.holder2048>.container>.box[value='512'] {
    background-color: #E1E100
}

.holder2048>.container>.box[value='1024'] {
    background-color: #C4C400
}

.holder2048>.container>.box[value='2048'] {
    background-color: #9AFF02
}

.holder2048>.container>.box[value='4096'] {
    background-color: #00c3ff
}

.holder2048>.container>.box[value='8192'] {
    background-color: #e91111
}
.darkmode-layer, .darkmode-toggle {
    z-index: 500;
  }

#f5{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: url(https://previews.123rf.com/images/blankstock/blankstock1401/blankstock140101303/25355724-repeat-icon-refresh-symbol-loop-sign-round-colourful-11-buttons-vector.jpg);
    background-size: 630%;
    background-position-x: -126px;
    background-position-y: 56px;
    top: -20px;
    left: 1175px;
    position: relative;
}
.a{

    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}
#dark{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-image: url(https://cdn6.aptoide.com/imgs/b/a/3/ba3a557d043e1ef63913840d0f12239b_icon.png?w=160);
    background-size: 130%;
    background-position-x: -7px;
    background-position-y: -8px;
    position: relative;
    left: 1175px;
    top: -540px;
}
.darkmode-layer{
top: 40px;
left: 100px;
}

.darkmode-toggle{
top: 40px;
left: 100px;
z-index: 999;
opacity: 0.05
}
